<div class=@Classes>
    <div class="d-and-d-statrow-value">
        <input type="text" @onchange="value => UpdateValue(value)" />
    </div>
    <div class="d-and-d-statrow-label">
        <label>@Label</label>
    </div>
</div>

@code {
    private const string StatRowClassCss = "d-and-d-statrow";

    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Label { get; set; }

    private string classes;
  [Parameter]
    public string Classes
    {
        get => classes;
        set => classes = $"{StatRowClassCss} {value}";
    }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    private async Task UpdateValue(ChangeEventArgs value)
    {
        await ValueChanged.InvokeAsync((string)value.Value);
    }

}
